#chats{
    width: 250px;
    height: 300px;
    border: 1px blue solid;
    padding: 5px;
    overflow-y: scroll;
}
#tba{
    min-width: 250px;
}
#tba input{
    width: 200px;
    height: 30px;
    padding: 2px;
    margin: 1px;
}
#tba button{
    height: 35px;
    width: 50px;
    border: 1px solid black;
    background-color: blueviolet;
}
.mymessage{
    color: red;
    background-color: blue;
}
.clientmessage{
    color: white;
    background-color: black;
}